extends cities.pug

block cityCss 
    link(rel="stylesheet", href="/city.css")

block dataContent     
        h2 #{city.name} #{city.id}
        .cityDesc
            p 
                span Country code: 
                | #{city.countryCode}
            p 
                span District: 
                | #{city.district}
            p 
                span Population: 
                | #{city.population}