extends layout.pug
block head 
    link(rel="stylesheet", href="/continents.css")
    link(rel="stylesheet", href="/cities.css")
    link(rel="stylesheet", href="/city.css")

   

block dataContent
    h2 #{continent.Continent} 
    .cityDesc
            p 
                span Number of Countries: 
                | #{continent.countries}
            p 
                span Total Population: 
                | #{continent.Population}            

    table.data_table            
        tr
            th Country 
            th Number Of Cities 
            th Total Population 
    
        each country in continentCountries
                tr
                    td 
                        a(href=`/continents/${continent.Continent}/${country.Name}`) #{country.Name}
                    td #{country.Number_of_cities}
                    td #{country.Population}