extends layout.pug
block head 
    link(rel="stylesheet", href="/continents.css")
    link(rel="stylesheet", href="/city.css")

   

block dataContent
    h2 #{country.name} #{country.id}
    .cityDesc
            p 
                span Number of Cities: 
                | #{country.numberOfCities}
            p 
                span Total Population: 
                | #{country.totalPopulation}            

    table.data_table                
        tr
            th Code
            th City
            th Population 
    
            each cityData in countryCities
                tr
                    td #{cityData.code}
                    td 
                        a(href=`/cities/city/${cityData.id}`) #{cityData.name}
                    td #{cityData.population}