extends layout.pug
block head 
    link(rel="stylesheet", href="/continents.css")
    link(rel="stylesheet", href="/city.css")

   

block dataContent
    h2 #{country[0].Name}
    .cityDesc
            p 
                span Number of Cities: 
                | #{country[0].Number_of_cities}
            p 
                span Total Population: 
                | #{country[0].Population}            

    table.data_table                
        tr
            th Code
            th City
            th Population 
    
            each cityData in countryCities
                tr
                    td #{cityData.CountryCode}
                    td 
                        a(href=`/cities/city/${cityData.ID}`) #{cityData.Name}
                    td #{cityData.Population}